# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment files (NEVER commit these)
.env
.env.*
!envs/.env.example

# Docker
.docker/

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/*.log
*.log

# Node (if any frontend)
node_modules/

# Grafana
grafana/

# Prometheus
monitoring/prometheus-*.linux-amd64/
monitoring/*.tar.gz

# Prometheus data
monitoring/**/data/
